<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista postów</title>
</head>

<html>
    <head>
        <title>Artur's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">www.designforall.pl</a></h1>
        </div>

        <div>
            <p>published: 15.11.2020, 20:00</p>
            <h2><a href="">Mój pierwszy post - testowy</a></h2>
            <p>Pozdrowienia do Cyberpunka - DFA2_0 </p>
        </div>

        <div>
            <p>published: 15.11.2020, 12:14</p>
            <h2><a href="">Mój drugi post - testowy</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>